@charset "ISO-8859-1";

.nav-link {
	font-size: larger;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	background-color: #007bff;
}

.reducedUpper{
	margin-top: -100%;
}

.titleLike {
	margin-left: 10%;
	margin-right: 10%;
}

h5 {
	margin-top: 5%;
}

h2 {
	margin-top: 10%;
}

h4 {
	margin-top: 3%;
}

.weekDays-selector {
	margin-top: 2.5%;
}

.button-new {
	margin-top: -0.5%;
}

.weekDays-selector input {
	display: none !important;
	vertical-align: middle;
}

.weekDays-selector2 input {
	display: none !important;

}

.weekday {
	vertical-align: bottom;
}

.marginBottom {
	margin-top: -50%;
	margin-bottom: 10%;
}

.weekDays-selector input[type=checkbox]+label {
	display: inline-block;
	border-radius: 6px;
	background: #dddddd;
	width: 40px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-size: small;
	vertical-align: middle;
}

.weekDays-selector input[type=checkbox]:checked+label {
	background: #2AD705;
	color: #ffffff;
}

.weekDays-selector2 input[type=checkbox]+label {
	display: inline-block;
	border-radius: 6px;
	background: #dddddd;
	width: 40px;
	height:3em;
	line-height: 3em;
	text-align: center;
	cursor: pointer;
	font-size: small;
	vertical-align: middle;
}

.weekDays-selector2 input[type=checkbox]:checked+label {
	background: #2AD705;
	color: #ffffff;
}


.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}


.table-fit {
	width: 60%;
	white-space: nowrap;
}

.table-fit2 {
	width: 30%;
	white-space: nowrap;
}

html, body {
	height: 100%;
}

.title {
	margin-left: 10%;
	margin-right: 10%;
	font-size: larger;
}

.table>tbody>tr>td {
	height: 100%;
	vertical-align: middle;
}

.table>tbody>tr>th {
	vertical-align: middle;
}